{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<h1 class="mb-3">{{ user.first_name }} {{ user.last_name }}'s Profile</h1>
<form method="post">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Profile information</legend>
    {{ form|crispy }}
  </fieldset>
  <div class="form-group">
  	{% if user.is_superuser %}
  	<h4><a class="nav-item nav-link" href="{% url 'show_normaloldcourse' %}"> View Previous Courses </a>
  	{% elif user.is_staff %}
  	<h4><a class="nav-item nav-link" href="{% url 'show_oldcourse' user.id %}"> View Previous Courses </a>
    {% else %}
    <h4><a class="nav-item nav-link" href="{% url 'show_normaloldcourse' %}"> View Previous Courses </a>  
  	{% endif %}
  	{% if user.is_staff %}
  	<a class="nav-item nav-link" href="{% url 'add_oldcourse' %}"> Add Previous Course </a> </h4>
    {% else %}
    <a class="nav-item nav-link" href="{% url 'show_normaloldcourse' %}"> Add Previous Course </a> </h4>
  	{% endif %}
    <button class="btn btn-outline-info" type="submit">Update</button>
  </div>
</form>
{% endblock content %}