{% extends 'base.html' %}

{% block content %}
    <h1>Courses</h1>
    <h4><a href = "{% url 'add_course' %}"> Add Course </a></h4>
    <table>
        <thead>
            <tr>
                <th>Course Title</th>
                <th>Email</th>
                <th>Discussion</th>
                <th>TA Required</th>
                <th>Description</th>
                <!-- <th>Apply</th>  -->
            </tr>
        </thead>
        <tbody>
            {% for course in course_data %}
                <tr>
                    <td>{{ course.course_title }}</td>
                    <td>{{ course.email }}</td>
                    <td>{{ course.discussion}}</td>
                    <td>{{ course.ta_required }}</td>
                    <td>{{ course.description }}</td>
                    <th><a href = "{% url 'apply' course.id %}"> Apply </a> </th> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

