body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
a h6 {
  color: #444444;
}

img {
  width: 25px;
  margin-right: 5px;
}

ul {
  margin: 0;
}

.bg-blue {
  background-color: #4e60d4;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* .alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
} */
